<footer class="footer">
      <div class="container">
        <span class="text-muted"><%= image_tag "MWAW-Black.png", :class => "footer_image_left" %></span>
        <span class="text-muted"><%= image_tag "WWLogo.jpg", :class => "footer_image_right" %></span>
      </div>
</footer>